
<div class= "profileform" x-ng-app="profile-app" x-ng-controller="ProfileCtrl">
<h3>New Profile:</h3>

    <form ng-submit="saveProfile();" class="form-group">

      <label for="cleanliness">Cleanliness:</label>
      <input ng-model="newProfile.cleanliness" name="cleanliness" class="form-control">

      <label for="noise_tolerance">noise_tolerance:</label>
      <input ng-model="newProfile.noise_tolerance" name="noise_tolerance" class="form-control">
      
      <label for="visitors">visitors:</label>
      <input ng-model="newProfile.visitors" name="visitors" class="form-control">
      
      <label for="pets">pets:</label>
      <input ng-model="newProfile.pets" name="pets" class="form-control">
      
      <label for="smoking">smoking:</label>
      <input ng-model="newProfile.smoking" name="smoking" class="form-control">
      
      <label for="sleeping_hours">sleeping_hours:</label>
      <input ng-model="newProfile.sleeping_hours" name="sleeping_hours" class="form-control">
      
      <label for="cooks">cooks:</label>
      <input ng-model="newProfile.cooks" name="cooks" class="form-control">

      <label for="interests">interests:</label>
      <input ng-model="newProfile.interests" name="interests" class="form-control">

      <label for="notes">notes:</label>
      <input ng-model="newProfile.notes" name="notes" class="form-control">

      <label for="notes">notes:</label>
      <input ng-model="newProfile.notes" name="notes" class="form-control">

      

      <input type="submit" value="Add New Profile!" class="btn btn-primary">

    </form>