<div class="first_page">

<div class="first_loginbox">
	<div class="log_in_box">
		<%= form_for :session, :url => sessions_path do |f| %>&nbsp;
	  		<%= f.text_field :email,  :placeholder => "Email" %>
	  		<%= f.password_field :password,  :placeholder => "Password" %><br><br>
	  		<%= button_to('Log In', users_path, :class => 'btn btn-warning btn-mini')  %>
		<% end %>
	</div>
</div>

</div>


