<div class="staticpage">
	<div class="navbar">
  		<%= render 'sessions/forms' %>
	</div> <!-- end of navbar -->



	<div class="staticpagecenter">

		<div class="homepage">
			<div class="space"></div>
			<h1 class="webname">ROOOMATES</h1>
			<div class="hr"><hr /></div>
			<h2 class="subname">Nobody likes living with strangers.</h2>
			<a href="#signup"><div class="linktosignup">SIGN UP</div></a>
		</div>

	</div>
	<div class="signup" id="signup">


	<%= render 'users/forms' %>
	
	</div>

	<div class="footer">

	<br>
		A DIRTY ICE CREAM PROJECT &copy; 2014<br>
		ABOUT   |   DINNA GONZALES
	</div>


</div>