/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

body {
	background-image: url('staticbg.png') !important;
	background-size: cover !important;
	background-position: center center;
	color: white !important;
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif !important;
	
}

.mainfont{
	font-family: 'Raleway', sans-serif !important;
	color:black;
	font-size:25px;
}
.navbar{
	width: 100%;
	height: 140px;
	
}

.loginbox {
	margin: 80px 20px 0 0px !important;
	float: right;
	display: inline-block !important;
	width: 200px !important;
	height: 30px !important;
	border-radius: 3px;
	border: transparent !important;
	background-color: rgba(255,255,255,0.3) !important;
}

.loginlink{
	letter-spacing:2px;
	margin: 83px 50px 0 0 !important;
	display: inline-block !important;
	color: white !important;
	font-weight: bold !important;
	border-radius: 3px;
	background-color: transparent;
	padding: 6px;
	font-family: 'Raleway', sans-serif !important;
	font-size: 12px;
	float: right;
	border: 1px solid black;
}

.loginlink:hover{
	color: black !important;
	font-weight: bold !important;
	transition: background-color 0.3s ease !important;
}
.staticpagecenter{
	width: 100%;
	height: 620px;
	margin-top: -10px;
}

.homepage{
	margin: 0 auto !important;
	width: 100%;
	height: 525px;
	text-align: center;
	background-color: rgba(255,255,255,0.6);
}
.space{
	width: 100px;
	height: 150px;
}
.webname{
	color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: light;
	font-size: 100px;
}


div.hr {
background: black;
position: relative;
top: -40px;
margin: 0 auto;
width: 650px;
height: 3px;
}
.subname{
	color: black;
	letter-spacing:5px;
	font-family: 'Raleway', sans-serif;
	font-weight: light;
	font-size: 20px;
	position: relative;
	top: -35px;
}

.linktosignup{
	letter-spacing:9px;
	padding: 15px;
	border: 1px solid black;
	width: 300px;
	height: 55px;
	margin: 0 auto;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-style:italic;
	font-size: 20px;
	transition: background-color 0.3s ease;
}

.linktosignup:hover{
	background-color: rgba(0,0,0,0.5);
}

.signoutlink{
	float: right;
	color:white;
	font-size: 20px;
	padding: 15px;
	position: relative;
	top: 45px;
	right: 25px;
	
}
.signoutlink:hover{
	text-decoration: none !important;
	color:black;
}

.signup{
	padding: 10px;
	width: 100%;
	height: 450px;
	background-color: white;
	text-align: center;
}


.footer{
	letter-spacing:3px;
	
	width: 100%;
	height: 50px;
	background-color: white;
	color: black;
	text-align: center;
	font-size: 12px;
}


.navlinks{
	font-weight: bold;
	text-decoration: none;
	color: white;
	float: right;
	margin-top: 20px;
	margin-right: 25px;
}
#logo {
	margin: 10px;
	width: 268px;
	height: 44px;
}

.staticpage {
	width: 100%;
	
}


.questions{
	display:inline;
	
}

.rating{
	display:inline;
	font-size:18px;
}
#score{
	font-size:20px;
	display:inline;
	color: #6A5ACD;
}
.topic{
	display: inline;
	font-size: 25px;
}
#bigtextinput{
	width: 100%;
	height:200px;
}
.potcount{
	position:relative;
	top:40px;
	left:220px;
	font-size:35px;
	color:black;
}